@import "config";
@import "menu";
@import "menuBtn";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
}

header {
  width: 100%;
  height: 70px;
}
